<!-- PORTFOLIO DESCRIPTION -->
<section class='description' *ngIf='portfolioDescription' [ngStyle.gt-md]="{'font-size': '60px' ,'line-height': '76px','padding-right': '3vw'}">   

  <!-- TITLE-->
  <div class='description--title' [ngStyle.gt-md]="{'font-size': '60px' ,'line-height': '76px'}">
    <div>{{portfolioDescription.lastName}}</div>
    <div>{{portfolioDescription.firstName}}</div>
  </div>
  <!-- SUBTITLE-->
  <h2 class='description--subtitle' [ngStyle.gt-md]="{'font-size': '38px' ,'line-height': '48px'}">{{portfolioDescription.job}}</h2>
  <!-- JOB-->
  <p class='description--text' [ngStyle.gt-md]="{'font-size': '18px' ,'line-height': '140%'}">{{portfolioDescription.descriptionText}}</p>
  <!-- PORTFOLIO CONTACT LIST-->
  <address>
    <ul class='description--contact-list' [ngStyle.gt-md]="{'padding': '0'}">
      <li class='description--contact-list--item' [ngStyle.gt-md]="{'font-size': '18px' ,'line-height': '23px'}" *ngFor="let contact of portfolioDescription.contact"> <a href="{{contact.link}}">{{contact.linkName}}</a></li>
    </ul>
  </address>
</section>
